{% extends "base.html" %}

{% block content %}
<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
   <h2 style="margin: 0;">Rezepte</h2>
  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addRecipeModal">
    + Rezept hinzufügen
  </button>
</div>

<ul class="rezept-list">
  {% for rezept in rezepte %}
  <li class="rezept-item">
    <a href="{{ url_for('rezept_detail', rezept_id=rezept.id) }}" class="rezept-content">
      {{ rezept.name }}
      <span class="rezept-description">{{ rezept.description }}</span>
    </a>
  </li>
  {% endfor %}
</ul>

<!-- MODAL: Neues Rezept -->
<div class="modal fade" id="addRecipeModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <form method="POST">

      <div class="modal-header">
        <h4 class="modal-title">Neues Rezept</h4>
      </div>

      <div class="modal-body">

        <div class="form-group">
          <label>Rezeptname</label>
          <input name="name" class="form-control" required>
        </div>

        <div class="form-group">
          <label>Beschreibung</label>
          <textarea name="description" class="form-control" rows="2" required></textarea>
        </div>

        <hr>

        <label>Zutaten</label>
        <div id="zutaten-container">
          <div style="display:flex; gap:10px; margin-bottom:10px;">
            <input name="zutat_name[]" class="form-control" placeholder="Zutat">
            <input name="zutat_number[]" type="number" class="form-control" placeholder="Menge">
            <input name="zutat_einheit[]" class="form-control" placeholder="Einheit">
          </div>
        </div>
        <hr>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Rezept speichern</button>
      </div>

      </form>

    </div>
  </div>
</div>
{% endblock %}
